/* Ann Summers Sex Toy Buyer Guide Prototype Styles 
    Dev: Chris Davies */

.bl-hide{
    display: none;
}

html.bl-sex-toy-guide-visible, body.bl-sex-toy-guide-visible{
    overflow: hidden;
}

/* iOS Click styles */
#bl-sex-toy-guide .bl-button, #bl-sex-toy-guide .bl-guide-menu-item{
    cursor: pointer;
}



/* Background Gradients */
/* Home page */
.bl-inner-container{
    background: #ED145B; /* Old browsers */
    background: -moz-linear-gradient(top, #ED145B 0%, #A00739 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ED145B 0%,#A00739 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ED145B 0%,#A00739 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ED145B', endColorstr='#A00739',GradientType=0 ); /* IE6-9 */
}

.bl-new-container.bl-info-container, .bl-previous-container.bl-info-container{
    background: #F2A6BF; /* Old browsers */
    background: -moz-linear-gradient(top, #F2A6BF 0%, #F05C8D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F2A6BF 0%,#F05C8D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F2A6BF 0%,#F05C8D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2A6BF', endColorstr='#F05C8D',GradientType=0 ); /* IE6-9 */
}


.bl-plp-page, .bl-pdp-page{
    background: #F2A6BF; /* Old browsers */
    background: -moz-linear-gradient(top, #F2A6BF 0%, #FFF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F2A6BF 0%,#FFF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F2A6BF 0%,#FFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2A6BF', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
}

/*sliders*/
/* vibration style */

.bl-intensity-slider, .bl-size-slider, .bl-style-slider, .bl-feel-slider{
    background: #229ABA; /* Old browsers */
    background: -moz-linear-gradient(top, #229ABA 0%, #F05C8D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #229ABA 0%,#F05C8D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #229ABA 0%,#F05C8D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229ABA', endColorstr='#F05C8D',GradientType=0 ); /* IE6-9 */
    transition: all 0.5s;
}

.bl-intensity-slider.bl-gradient-two, .bl-size-slider.bl-gradient-two, .bl-style-slider.bl-gradient-two, .bl-feel-slider.bl-gradient-two{
    background: #582B82; /* Old browsers */
    background: -moz-linear-gradient(top, #582B82 0%, #229ABA 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #582B82 0%,#229ABA 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #582B82 0%,#229ABA 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#582B82', endColorstr='#229ABA',GradientType=0 ); /* IE6-9 */
    transition: all 0.5s;
}

.bl-intensity-slider.bl-gradient-three, .bl-size-slider.bl-gradient-three, .bl-style-slider.bl-gradient-three, .bl-feel-slider.bl-gradient-three{
    background: #582B82; /* Old browsers */
    background: -moz-linear-gradient(top, #582B82 0%, #ED145B 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #582B82 0%,#ED145B 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #582B82 0%,#ED145B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#582B82', endColorstr='#ED145B',GradientType=0 ); /* IE6-9 */
    transition: all 0.5s;
}

.bl-intensity-slider.bl-gradient-four, .bl-size-slider.bl-gradient-four, .bl-style-slider.bl-gradient-four, .bl-feel-slider.bl-gradient-four{
    background: #ED145B; /* Old browsers */
    background: -moz-linear-gradient(top, #ED145B 0%, #F0E02C 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ED145B 0%,#F0E02C 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ED145B 0%,#F0E02C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ED145B', endColorstr='#F0E02C',GradientType=0 ); /* IE6-9 */
    transition: all 0.5s;
}


.bl-slider-inner-container{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    height: 350px;
}

.bl-slider-inner-container > div{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;
    position: relative;
}

.bl-slider-checkbox{
    display: none;
}

.bl-option-one-checkbox, .bl-option-two-checkbox, .bl-option-three-checkbox, .bl-option-four-checkbox{
    height: 50px;
    width: 50px;
    border: solid 1px #F0E02C;
    display: inline-block;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
}   

.bl-slider-checkbox-sim{
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.bl-slider-checkbox-sim.bl-selected > .bl-option-checkbox{
    background-color: #F0E02C;
}

.bl-option-one-text, .bl-option-two-text, .bl-option-three-text, .bl-option-four-text{
    bottom: 30px;
    position: relative;
    margin-left: 15px;
    color: white;
    font-size: 1.2em;
}

.bl-feel-slider .bl-slider-inner-container .small{
    top: -25%;
}

.bl-feel-slider .bl-slider-inner-container .small img{
    width: 50%;
}

.bl-size-slider .bl-slider-inner-container .small{
    top: -15%;
}

.bl-size-slider .bl-slider-inner-container .small img{
    width: 50%;
}

.bl-size-slider .bl-slider-checkbox-sim{
    bottom: -40px !important;
}

/* Styles */
/* activation button */
#bl-sex-toy-guide h5, #bl-sex-toy-guide h3{
    text-align: center;
}
.bl-guide-banner{
    width: 100%;
    position: relative;
    font-family: 'Open Sans',sans-serif;
    height: 110px;
    border: solid 1px #ed145b;
    border-radius: 25px;
    cursor: pointer;
    font-weight: normal;
    -webkit-transition:  all 1s;
    transition: all 1s;
}

.bl-guide-banner:hover, .bl-guide-banner:active{
    font-weight: bold;
    color: #ed145b;
    -webkit-transition:  all 1s;
    transition: all 1s;
}

.bl-guide-banner div{
    display: inline-block;
}

.bl-banner-img-one{
    left: 10px;
    position: absolute;
}

.bl-banner-img-one, .bl-banner-img-two{
    height: 80px;  
    top: 10px;
}

.bl-banner-img-two{
    right: 10px;
    position: absolute;
}

.bl-banner-message{
    width: 100%;
    position: absolute;
}
.bl-banner-message p{
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
    margin-left: 60px;
    width: 80%;
}
.col-primary.search-results{
    clear: both;
}
.bl-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 99998;
    opacity: 0.7;
}
.bl-overlay.bl-display, .bl-container.bl-display{
    display: block;
    -webkit-transition:  all 1s;
    transition: all 1s;
}


/* end */

/* app styles */

/* home page */
#bl-sex-toy-guide .bl-homepage-svg{
    height: 0;    
    top: 14px;
    position: relative;
}

#bl-sex-toy-guide .bl-homepage-svg svg{
    height: 85px;
}

.bl-home-item-selected{
    border: solid 4px #F0E02C;
}

.bl-inner-container, .bl-inner-container-right{
    display: inline-block;
    position: relative;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0;
    -webkit-transition:  all 1s;
    transition: all 1s;
    background-color: white;

}
.bl-container{
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
}

.bl-container h3{
    color: white;
    font-size: 2.1em;
    margin-top: 30px;
    position: relative;
    line-height: 40px;
    font-weight: 100;
    width: 85%;
    margin: 15px auto;
}

.bl-container .bl-slider-container h3{
    margin: 30px auto;
}

.bl-container label{
    height: 80px;
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    background: #FFCBD3;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition:  all 1s;
    transition: all 1s;
    
}

.bl-guide-menu{
    position: relative;
    text-align: center;
}
.bl-inner-container label.bl-selected{
    font-weight: bold;
    color: white;
    background: #ed145b;
    -webkit-transition:  all 1s;
    transition: all 1s;
}
.bl-inner-container label input{
    display: none;
}

.bl-guide-menu-item{
    width: 40%;
    display: inline-block;
    text-align: center;
    background: #F05C8D;
    margin: 10px 10px;
    height: 150px;
    position: relative;
    transition: all 1s;
    border-radius: 140px;
    vertical-align: top;
}

.bl-guide-menu-item p{
    color: white;
    top: 95px;
    position: relative;
    font-size: 1.2em;
    width: 67%;
    margin: auto;
}

.bl-guide-menu-item-one{
    left: 0;
}
.bl-guide-menu-item-two{
    right: 0;
}
.bl-guide-menu-item-three{
    left: 0;
}
.bl-guide-menu-item-four{
    right: 0;
}
.bl-options.bl-right{
    left: 600px;
    position: relative;
    width: 100%;
}
.bl-options.bl-left{
    right: 600px;
    position: relative;
    width: 100%;
}


.bl-options.bl-bottom{
    top: 600px;
    position: relative;
    width: 100%;
}
#bl-sex-toy-guide button{
    margin-bottom: 20px;
}

#bl-sex-toy-guide{
    overflow: hidden;
}
.bl-new-container, .bl-previous-container{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
}


.bl-button{
    width: 80%;
    background-color: #F05C8D;
    height: 60px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
    letter-spacing: 0.04em;
}

.bl-button.bl-slider-results-button, .bl-button.bl-slider-skip-button{
    width: 40%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: bottom;
    margin: auto 10px;
    font-size: 1.09em;
    border: solid 2px #F0E02C;
    background: transparent;
    color: #F0E02C !important;
}

.bl-slider-buttons{
    width: 100%;
    text-align: center;   
    bottom: 20px;
    position: absolute;
}

.bl-button .bl-text-button{
    position: relative;
    top: 20px;
}

.bl-button.bl-view-all{
    background-color: transparent;
    border: solid 1px #F05C8D;
    color: #F05C8D;
}


.bl-gradient-four .bl-button{
    color: #F05C8D !important;
    border-color: #F05C8D;
}

.bl-new-container .bl-next-page, .bl-previous-container .bl-next-page{
    width: 40%;
    float: right;
    margin-right: 20px;
    height: 50px;
    border-radius: 40px;
    background-color: transparent;
    border: solid 2px #F0E02C;
    color: #F0E02C !important;
}

.bl-new-container .bl-info-details, .bl-previous-container .bl-info-details{
    margin-top: 100px;
    text-align: center;
    padding: 0 20px;
}

.bl-new-container .bl-info-details span, .bl-previous-container .bl-info-details span{
    color: #A00739;
    font-size: 14px;
}

.bl-new-container .bl-info-details p, .bl-previous-container .bl-info-details p{
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0;
}

.bl-new-container .bl-circle-containers, .bl-previous-container .bl-circle-containers{
    height: 30px;
    width: 50%;
    margin: 40px auto;
}


.bl-new-container .bl-circle-containers span, .bl-previous-container .bl-circle-containers span{
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background-color: #F0E02C;
    display: inline-block;
    margin: 10px;
}

.bl-new-container .bl-circle-containers span.active, .bl-previous-container .bl-circle-containers span.active{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.bl-plp-page{
    overflow: scroll;
}

.bl-plp-page .bl-plp-header{
    color: #A00739;
    text-align: center;
    font-size: 2em;
}

.bl-plp-page .bl-product-plp-tile{
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 10px;
}

.bl-plp-page .bl-product-title{
    text-align: center;
    color: #A00739;
    font-size: 1.5em;
}

.bl-plp-page .bl-details-list{
    width: 48%;
    float: right;
    color: #A00739;
}

.bl-plp-page img{
    float: left;
    width: 48%;
}

.bl-plp-page button{
    width: 50%;
    clear: both;
    background: #F0E02C;
    color: #A00739 !important;
    border: none;
}


.bl-pdp-page{
    overflow: scroll;
}

.bl-pdp-page .bl-pdp-header{
    font-size: 2em;
    text-align: center;
    color: #A00739 !important;
    width: 70%;
    margin: 30px auto 10px auto;
    line-height: 1.3em;

}

.bl-pdp-page .bl-pdp-main-image, .bl-pdp-page{
    padding-bottom: 65px;

}

.bl-pdp-page .bl-pdp-main-image img{
    float: right;
    margin-right: 5%;
    width: 80%;
}

.bl-pdp-page .bl-thumbnails div{
    position: relative;
    height: 40px;
    background: white;
    display: block;
    margin: 0 0 10px 7px;
    width: 40px;
    float: left;
    
}
.bl-pdp-page .bl-thumbnails{
    float: left;
    width: 10%;
}

.bl-pdp-page .bl-pdp-properties{
    clear: both;
    width: 100%;
    margin: 20px auto;
}
.bl-pdp-page .bl-pdp-properties p{
    width: 48%;
    display: inline-block;
    color: #A00739 !important;
    text-decoration: underline;
}

.bl-pdp-page .bl-pdp-description{
    clear: both;
    margin: 20px auto;
}

.bl-pdp-page .bl-pdp-description p{
    color: #A00739 !important;
    font-size: 1.4em;
    width: 70%;
    margin: auto;
    line-height: 1.5em;
}

.bl-pdp-page .bl-pdp-add-to-bag #add-to-cart{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    background-color: #F0E02C;
    color: #ed145b !important;
}

/* SLIDER EFFECTS */
/* PULSE */
.pulsatingCircle{
    width:25px;
    height:25px;
    display:block;
    position:relative;
    margin:30% auto;
    transform:scale(5,5);
    -webkit-transform:scale(5,5);
}

.firstCircle,
.secondCircle,
.thirdCircle,
.fourthCircle{
    top:50%;
    left:50%;
    display:block;
    border-radius:50%;
    position:absolute;
    vertical-align:middle;
}
    
.firstCircle{
    width:10px;
    height:10px;
    margin:-5px 0 0 -5px;
    background-color:#ccc;
}

.secondCircle{
    width:16px;
    height:16px;
    margin:-9px 0 0 -9px;
    border:1px solid #ccc;					
}

.thirdCircle{
    width:24px;
    height:24px;
    border:1px solid #ccc;
    margin:-13px 0 0 -13px;
}

.fourthCircle{
    width:32px;
    height:32px;
    border:1px solid #ccc;
    margin:-17px 0 0 -17px;	
}

.moderate .secondCircle{
    animation:2000ms pulseIn ease-in-out infinite;
    -webkit-animation:2000ms pulseIn 200s linear  infinite;	
}

.moderate .thirdCircle{
    animation:2000ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:2000ms pulseIn 500ms linear  infinite;	
}

.moderate .fourthCircle{
    animation:2000ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:2000ms pulseIn 700ms linear  infinite;
}

.intense .secondCircle{
    animation:1500ms pulseIn ease-in-out infinite;
    -webkit-animation:1500ms pulseIn 200s linear  infinite;	
}

.intense .thirdCircle{
    animation:1500ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:1500ms pulseIn 500ms linear infinite;	
}

.intense .fourthCircle{
    animation:1500ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:1500ms pulseIn 700ms linear infinite;
}

.powerful .secondCircle{
    animation:1000ms pulseIn ease-in-out infinite;
    -webkit-animation:1000ms pulseIn 200s linear infinite;	
}

.powerful .thirdCircle{
    animation:1000ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:1000ms pulseIn 500ms linear infinite;	
}

.powerful .fourthCircle{
    animation:1000ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:1000ms pulseIn 700ms linear infinite;
}

.offTheScale .secondCircle{
    animation:500ms pulseIn ease-in-out infinite;
    -webkit-animation:500ms pulseIn 200s linear infinite;	
}

.offTheScale .thirdCircle{
    animation:500ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:500ms pulseIn 500ms linear infinite;	
}

.offTheScale .fourthCircle{
    animation:500ms pulseIn 500ms ease-in-out infinite;
    -webkit-animation:500ms pulseIn 700ms linear infinite;
}



@keyframes pulseIn{
    0%{
        opacity:0;
        transform:scale(0.2,0.2);
    }
    50%{
        opacity:1;
        transform:scale(1,1);
    }
    100%{
                    opacity:0;
        transform:scale(0.2,0.2);
    }
}

@-webkit-keyframes pulseIn{
                0%{
        opacity:0;
        -webkit-transform:scale(0.2,0.2);
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1,1);
    }
    100%{
                    opacity:0;
        -webkit-transform:scale(0.2,0.2);
    }
}

.bl-slider-inner-container > div{

    transition: all 1s;
}
            

.bl-slider-inner-container{
    position: relative;
}



/* Position One */
.bl-animation-container-one.positionOne{
    left: 0;
}

.bl-animation-container-two.positionOne{
    left: -50%;
}

.bl-animation-container-three.positionOne{
    left: -100%;
}

.bl-animation-container-four.positionOne{
    left: -150%;
}

/* Position Two */
.bl-animation-container-one.positionTwo{
    left: -50%;
}

.bl-animation-container-two.positionTwo{
    left: -100%;
}

.bl-animation-container-three.positionTwo{
    left: -150%;
}

.bl-animation-container-four.positionTwo{
    left: -200%;
}

.bl-animation-container-one.positionThree{
    left: -100%;
}

.bl-animation-container-two.positionThree{
    left: -150%;
}

.bl-animation-container-three.positionThree{
    left: -200%;
}

.bl-animation-container-four.positionThree{
    left: -250%;
}

.bl-animation-container-one.positionFour{
    left: -150%;
}

.bl-animation-container-two.positionFour{
    left: -200%;
}

.bl-animation-container-three.positionFour{
    left: -250%;
}

.bl-animation-container-four.positionFour{
    left: -300%;
}

.bl-slider-inner-container .small .bl-slider-checkbox-sim{
    display: none;
}

.bl-slider-checkbox-sim .bl-option-one-text p{
    width: 40%;
    margin: 0% 44%;
}

.bl-slider-checkbox-sim .bl-option-two-text p{
    width: 32%;
    margin: 0% 44%;
}

.bl-slider-checkbox-sim .bl-option-three-text p{
    width: 34%;
    margin: 0% 44%;
}

.bl-slider-checkbox-sim .bl-option-four-text p{
    width: 37%;
    margin: 0% 44%;
}

.bl-slider-inner-container .small .pulsatingCircle{
    height: 10px;
    width: 10px;
    -webkit-transform: scale(5,5);
    transform: scale(2,2);
    transition: all 0.2s;
}


/* Slider video styles */
.bl-slider-inner-container video{
    top: 50PX;
    POSITION: relative;
}


/* PLP Filters */
.bl-plp-horizontal-filters-cont > div, .bl-plp-horizontal-filters-cont .bl-plp-horizontal-filter-title p{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.bl-plp-horizontal-filters-cont{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px 0px 0 20px;
    background: pink;
    height: 70px;
    border-radius: 40px 0 0 40px;
}

.bl-plp-horizontal-filters-cont .bl-plp-horizontal-filter-title p{
    margin-left: 30px;
    color: #A00739;
    font-size: 1.2em;
}

.bl-plp-horizontal-filters-cont p{
    color: #A00739;
}

.bl-plp-horizontal-filters-cont > div > div {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: solid 1px #A00739;
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
    top: 5px;
    position: relative;
}

.bl-plp-horizontal-filters-cont .bl-plp-horizontal-filter{
    text-align: center;
}

.bl-change-preference-button-cont{
    position: fixed;
    height: 60px;
    color: white;
    background-color: #A00739;
    width: 100%;
    margin: 0;
    display: block;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;

}

.bl-pdp-back-button{
    position: absolute;
    background: #A00739 !important;
    height: 35px;
    width: 40px;
    top: 0;
    margin-top: 0;
    color: white;
    padding: 10px 5px 0px;
    vertical-align: text-top;
}

.bl-slider-inner-container.mini, .bl-slider-inner-container.smaller, .bl-slider-inner-container.realistic, .bl-slider-inner-container.larger{
    top: 0;
    position: absolute;
}

/* selected buttons */
.bl-slider-skip-button.bl-option-selected{
    background-color: #F0E02C;
    color: #A00739 !important;
}

.bl-slider-results-button.bl-option-selected{
    background-color: #A00739;
    color: #F2A6BF !important;
    border: none;
}

.bl-slider-results-button.bl-option-selected span{
    color: white;
}

.bl-pdp-prop-tick{
    width: 35px;
    display: inline-block;
    top: 12px;
    position: relative;
}